*.sif
*.egg-info
*egg
*ipynb_checkpoints*
*.pyc
*__pycache__*
*build*
# Ignoriere alle .csv Dateien
*.csv

# Ignoriere spezifische Dateien
.adoptodevenv
.ad_ode_venv

# Ignoriere Verzeichnisse
data/
figures/